@model ClientLocate.Models.Phone

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Phone</legend>

    <div class="display-label">AreaCode</div>
    <div class="display-field">@Model.AreaCode</div>

    <div class="display-label">LocalNumber</div>
    <div class="display-field">@Model.LocalNumber</div>

    <div class="display-label">Extension</div>
    <div class="display-field">@Model.Extension</div>

    <div class="display-label">PhoneType</div>
    <div class="display-field">@Model.PhoneType</div>

    <div class="display-label">Person</div>
    <div class="display-field">@(Model.Person == null ? "None" : Model.Person.LastName)</div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}


