@model ClientLocate.Models.Address

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Address</legend>

    <div class="display-label">AddressLine1</div>
    <div class="display-field">@Model.AddressLine1</div>

    <div class="display-label">AddressLine2</div>
    <div class="display-field">@Model.AddressLine2</div>

    <div class="display-label">IsPoBox</div>
    <div class="display-field">@Model.IsPoBox</div>

    <div class="display-label">PoBox</div>
    <div class="display-field">@Model.PoBox</div>

    <div class="display-label">UnitType</div>
    <div class="display-field">@Model.UnitType</div>

    <div class="display-label">UnitNumber</div>
    <div class="display-field">@Model.UnitNumber</div>

    <div class="display-label">City</div>
    <div class="display-field">@Model.City</div>

    <div class="display-label">State</div>
    <div class="display-field">@Model.State</div>

    <div class="display-label">Zip</div>
    <div class="display-field">@Model.Zip</div>

    <div class="display-label">Country</div>
    <div class="display-field">@Model.Country</div>

    <div class="display-label">AddressType</div>
    <div class="display-field">@Model.AddressType</div>

    <div class="display-label">Person</div>
    <div class="display-field">@(Model.Person == null ? "None" : Model.Person.LastName)</div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>


